Importing Required Libraries

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Load the Dataset

In [8]:
# Load the dataset
df = pd.read_csv(r'C:\Users\hp\Desktop\Strathmore\DSA Units\2nd Semester\DSA 8201 Research Methods for Data Science and Analytics\Project\student_dropout_data_with_additional_attributes.csv')

In [10]:
# Display the first 5 rows
df.head()

,Age,Gender,Num_Siblings,Family_Size,Family_Income,Parental_Education,Parent_Occupation,Access_to_Resources,Type_of_Housing,Grade_Math,...,Location,Dropout,Boarding_Status,Technology_Access,Socioeconomic_Status,Teacher_Student_Ratio,School_Infrastructure_Score,School_Funding_Level,Average_Class_Size,Average_Performance
0,17,Male,2,4,8.863559,Primary,Agriculture,Yes,Own,87.572424,...,Rural,False,Day-school,High,Middle,21.516851,89.025437,Low,35.506157,62.210390
1,18,Male,4,6,9.290234,Tertiary,Formal Sector,Yes,Own,45.049519,...,Rural,False,Day-school,Medium,Low,24.433649,31.354119,Low,38.799322,61.838993
2,16,Female,1,3,11.078113,Secondary,Agriculture,Yes,Own,56.853624,...,Urban,False,Day-school,Medium,Low,28.240244,28.424973,Low,40.632662,70.235653
3,18,Female,1,3,27.071631,Secondary,Formal Sector,Yes,Own,71.975120,...,Urban,False,Day-school,Medium,Middle,22.998542,77.266849,High,34.851073,73.847675
4,18,Male,6,8,0.448112,Primary,Formal Sector,No,Own,51.645974,...,Rural,True,Boarding,Medium,Low,19.377884,99.842347,High,46.116631,68.016078