Importing Required Libraries

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Load the Dataset

In [8]:
# Load the dataset
df = pd.read_csv(r'C:\Users\hp\Desktop\Strathmore\DSA Units\2nd Semester\DSA 8201 Research Methods for Data Science and Analytics\Project\student_dropout_data_with_additional_attributes.csv')

In [10]:
# Display the first 5 rows
df.head()

,Age,Gender,Num_Siblings,Family_Size,Family_Income,Parental_Education,Parent_Occupation,Access_to_Resources,Type_of_Housing,Grade_Math,...,Location,Dropout,Boarding_Status,Technology_Access,Socioeconomic_Status,Teacher_Student_Ratio,School_Infrastructure_Score,School_Funding_Level,Average_Class_Size,Average_Performance
0,17,Male,2,4,8.863559,Primary,Agriculture,Yes,Own,87.572424,...,Rural,False,Day-school,High,Middle,21.516851,89.025437,Low,35.506157,62.210390
1,18,Male,4,6,9.290234,Tertiary,Formal Sector,Yes,Own,45.049519,...,Rural,False,Day-school,Medium,Low,24.433649,31.354119,Low,38.799322,61.838993
2,16,Female,1,3,11.078113,Secondary,Agriculture,Yes,Own,56.853624,...,Urban,False,Day-school,Medium,Low,28.240244,28.424973,Low,40.632662,70.235653
3,18,Female,1,3,27.071631,Secondary,Formal Sector,Yes,Own,71.975120,...,Urban,False,Day-school,Medium,Middle,22.998542,77.266849,High,34.851073,73.847675
4,18,Male,6,8,0.448112,Primary,Formal Sector,No,Own,51.645974,...,Rural,True,Boarding,Medium,Low,19.377884,99.842347,High,46.116631,68.016078

Step 3: Inspect the Dataset  
3.1 Check Basic Information

In [14]:
# Check the shape of the dataset (rows, columns)
print(f"Dataset Shape: {df.shape}")

# Check column names and data types
print(df.info())

# Check for missing values
print(df.isnull().sum())

Dataset Shape: (10000, 35)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 35 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Age                            10000 non-null  int64
 1   Gender                         10000 non-null  object
 2   Num_Siblings                   10000 non-null  int64
 3   Family_Size                    10000 non-null  int64
 4   Family_Income                  10000 non-null  float64
 5   Parental_Education             10000 non-null  object
 6   Parent_Occupation              10000 non-null  object
 7   Access_to_Resources            10000 non-null  object
 8   Type_of_Housing                10000 non-null  object
 9   Grade_Math                     10000 non-null  float64
 10  Grade_Science                  10000 non-null  float64
 11  Grade_English                  10000 non-null  float64
 12  Overall_GPA                    10000 non-null  float64
 13  Attendance_Rate                10000 non-null  float64
 14  Days_Absent                    10000 non-null  int64
 15  Participation_Extracurricular  10000 non-null  object
 16  Distance_to_School             10000 non-null  float64
 17  Mode_of_Transportation         10000 non-null  object
 18  Time_Spent_Traveling           10000 non-null  float64
 19  School_Type                    10000 non-null  object
 20  School_Quality                 10000 non-null  object
 21  School_Attendance_Policy       10000 non-null  object
 22  Mental_Health_Status           10000 non-null  object
 23  Peer_Support                   10000 non-null  object
 24  Engagement_School_Activities   10000 non-null  object
 25  Location                       10000 non-null  object
 26  Dropout                        10000 non-null  bool
 27  Boarding_Status                10000 non-null  object
 28  Technology_Access              10000 non-null  object
 29  Socioeconomic_Status           10000 non-null  object
 30  Teacher_Student_Ratio          10000 non-null  float64
 31  School_Infrastructure_Score    10000 non-null  float64
 32  School_Funding_Level           10000 non-null  object
 33  Average_Class_Size             10000 non-null  float64
 34  Average_Performance            10000 non-null  float64
dtypes: bool(1), float64(12), int64(4), object(18)
memory usage: 2.6+ MB
None
Age                              0
Gender                           0
Num_Siblings                     0
Family_Size                      0
Family_Income                    0
Parental_Education               0
Parent_Occupation                0
Access_to_Resources              0
Type_of_Housing                  0
Grade_Math                       0
Grade_Science                    0
Grade_English                    0
Overall_GPA                      0
Attendance_Rate                  0
Days_Absent                      0
Participation_Extracurricular    0
Distance_to_School               0
Mode_of_Transportation           0
Time_Spent_Traveling             0
School_Type                      0
School_Quality                   0
School_Attendance_Policy         0
Mental_Health_Status             0
Peer_Support                     0
Engagement_School_Activities     0
Location                         0
Dropout                          0
Boarding_Status                  0
Technology_Access                0
Socioeconomic_Status             0
Teacher_Student_Ratio            0
School_Infrastructure_Score      0
School_Funding_Level             0
Average_Class_Size               0
Average_Performance              0
dtype: int64

3.2 Descriptive Statistics

In [19]:
# Get summary statistics for numerical columns
print(df.describe())

                Age  Num_Siblings   Family_Size  Family_Income    Grade_Math  \
count  10000.000000  10000.000000  10000.000000   10000.000000  10000.000000
mean      16.499900      3.027300      5.027300      53.797609     59.965044
std        1.708711      1.989158      1.989158     157.007471     14.877066
min       14.000000      0.000000      2.000000       0.019815      8.680570
25%       15.000000      1.000000      3.000000       6.281930     49.750562
50%       17.000000      3.000000      5.000000      17.284932     59.919543
75%       18.000000      5.000000      7.000000      48.583439     70.151501
max       19.000000      6.000000      8.000000    8092.548866    125.348768

       Grade_Science  Grade_English   Overall_GPA  Attendance_Rate  \
count   10000.000000   10000.000000  10000.000000     10000.000000
mean       65.090573      70.475229     65.176949        79.929091
std        14.794580      14.909557      8.472513         9.807874
min         5.618988       7.021295     33.659652        45.309959
25%        55.166537      60.470080     59.417062        73.204607
50%        65.053300      70.536341     65.231450        79.954568
75%        75.032119      80.648695     70.903487        86.704863
max       120.211384     122.639018     93.861896       100.000000

        Days_Absent  Distance_to_School  Time_Spent_Traveling  \
count  10000.000000        10000.000000          10000.000000
mean      36.131600            6.694142             30.170992
std       17.655958            6.890962             10.059594
min        0.000000            0.002096             -7.101700
25%       24.000000            1.867701             23.357331
50%       36.000000            4.552635             30.201310
75%       48.000000            9.293584             36.988773
max       98.000000           71.757172             67.969515

       Teacher_Student_Ratio  School_Infrastructure_Score  Average_Class_Size  \
count           10000.000000                 10000.000000        10000.000000
mean               19.975692                    66.799743           37.926535
std                 4.809815                    16.399091            5.486295
min                10.000000                    15.447630           20.000000
25%                16.563987                    55.408271           34.178462
50%                19.933293                    66.594640           37.981990
75%                23.348912                    78.268892           41.766849
max                30.000000                   100.000000           50.000000

       Average_Performance
count         10000.000000
mean             65.176949
std               8.472513
min              33.659652
25%              59.417062
50%              65.231450
75%              70.903487
max              93.861896

In [21]:
# Get summary statistics for categorical columns
print(df.describe(include=['object']))

        Gender Parental_Education Parent_Occupation Access_to_Resources  \
count    10000              10000             10000               10000
unique       2                  4                 4                   2
top     Female          Secondary       Agriculture                 Yes
freq      5011               3977              4002                5923

       Type_of_Housing Participation_Extracurricular Mode_of_Transportation  \
count            10000                         10000                  10000
unique               2                             2                      4
top                Own                            No                Walking
freq              7001                          5902                   3931

       School_Type School_Quality School_Attendance_Policy  \
count        10000          10000                    10000
unique           3              3                        3
top          Mixed            Low                 Moderate
freq          6024           3997                     4951

       Mental_Health_Status Peer_Support Engagement_School_Activities  \
count                 10000        10000                        10000
unique                    3            2                            3
top                    Good           No                       Medium
freq                   6052         5001                         4006

       Location Boarding_Status Technology_Access Socioeconomic_Status  \
count     10000           10000             10000                10000
unique        2               2                 3                    3
top       Rural      Day-school              High                  Low
freq       6988            6989              4994                 4982

       School_Funding_Level
count                 10000
unique                    3
top                     Low
freq                   5023

Step 4: Data Cleaning  
4.1 Handle Missing Value       s
If there are missing values, decide how to handle them (e.g., drop or impute).

In [28]:
# Drop rows with missing values (if necessary)
df.dropna(inplace=True)

#Impute missing values in 'Family_Income' with the mean
df['Family_Income'].fillna(df['Family_Income'].mean(), inplace=True)

4.2 Handle Duplicates

In [31]:
# Check for duplicate rows
print(f"Number of duplicate rows: {df.duplicated().sum()}")

# Drop duplicate rows (if any)
df.drop_duplicates(inplace=True)

Number of duplicate rows: 0